.wrapper {
	width: 100%;
	min-height: 100vh;
	min-height: 100svh;
	display: grid;
	grid-template-columns: 100%;
	place-content: center;
	background-image: url('../images/faint-dots.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	background-attachment: fixed;
}

.container {
	width: 100%;
	max-width: 140rem;
	padding: 4rem 8rem;
	margin-inline: auto;
	background-color: rgb(var(--background-rgb));
	color: rgb(var(--foreground-rgb));
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
}

.section {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 2rem;
	flex-wrap: wrap;
	width: 100%;
	padding-block: 2rem;
}

.section:first-child {
	border-bottom: 2px solid rgb(var(--primary-rgb), 0.5);
}

.linkGroup {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 1rem;
	padding-block: 2rem;
}

.linkIcons {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.linkGroupHeading {
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.linkItem {
	width: fit-content;
	display: inline-flex;
	gap: 1rem;
	align-items: center;
	font-weight: 200;
	position: relative;
}

.linkItem::after,
.linkItem::before {
	content: '';
	display: inline-block;
	background-color: rgb(var(--primary-rgb), 0.5);
	position: absolute;
	z-index: 1;
	transition: all ease-in 0.5s;
	visibility: hidden;
	width: 0%;
}

.linkItem::before {
	width: 15%;
	height: 100%;
	right: -0.5rem;
	transition-delay: 200ms;
}

.linkItem::after {
	content: '';
	display: inline-block;
	height: 2px;
	bottom: 0;
}

.linkItem:hover::after {
	visibility: visible;
	width: 100%;
}

.linkItem:hover::before {
	visibility: visible;
	width: 20%;
}

.icon {
	font-size: 1.4rem;
}

.copyright {
	font-size: 1.4rem;
	font-weight: 400;
}

.linkIcons .icon {
	transition: all ease 0.2s;
}

.linkIcons .icon:hover {
	color: rgb(var(--primary-rgb));
	transform: scale(1.1);
}

body[data-animate='true'] .container {
	scroll-snap-align: start;
}
