.wrapper {
	width: 100%;
	min-height: 100vh;
	min-height: 100svh;
	display: grid;
	grid-template-columns: 100%;
	place-content: center;
}

.container {
	width: 100%;
	max-width: 120rem;
	height: 100vh;
	height: 100svh;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url('../images/faint-dots.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	background-attachment: fixed;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
	padding: 2rem 6rem;
	margin-block: auto;
	/* margin-bottom: 6rem; */
	margin-inline: 2rem 6rem;
	width: 100%;
}

.heroTxt {
	width: 40%;
	/* margin-right: auto; */
}

.title {
	font-size: 4.5rem;
	margin-bottom: 1rem;
}

.title span {
	color: rgb(var(--primary-rgb));
}

.intro {
	font-size: 1.6rem;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
}

.heroImg {
	display: flex;
	position: relative;
	aspect-ratio: 1/1;
	height: 100%;
	margin: 4rem;
	border: 5px solid rgb(var(--accent-rgb));
	object-position: center;
	object-fit: contain;
}

.heroImg::before {
	content: '';
	position: absolute;
	right: 50%;
	transform: translateX(50%) rotate(180deg);
	display: inline-block;
	z-index: 0;
	width: 0;
	height: 0;
	border-left: 1.5rem solid transparent;
	border-right: 1.5rem solid transparent;
	border-bottom: 1.55rem solid rgba(var(--accent-rgb), 1);
}

.heroImg img {
	display: inline-block;
	z-index: 2;
}

.heroFooter {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
}

.socialGroup {
	display: none;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	width: 50%;
}

.socialItem {
	font-size: 1.5rem;
	display: inline-block;
}

.ScrollAnim {
	width: 1.6rem;
	height: 2.2rem;
	border-radius: 0.75rem;
	border: 2px solid rgb(var(--foreground-rgb));
	display: inline-flex;
	align-items: flex-start;
	justify-content: center;
	padding-block: 0.31rem;
}

.ScrollAnim::after {
	content: '';
	width: 5px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: rgb(var(--foreground-rgb));
	animation: scroll 0.8s ease 0.1s infinite alternate-reverse;
}

@media (prefers-reduced-motion) {
	.ScrollAnim {
		visibility: hidden;
	}
}

@keyframes scroll {
	from {
		transform: translateY(1rem);
	}

	to {
		transform: translateY(0);
	}
}

@media screen and (min-width: 1445px) {
	.wrapper {
		min-height: auto;
		border-bottom: 2px solid rgb(var(--primary-rgb), 0.2);
	}

	.container {
		max-height: 50vh;
		padding-block: 10rem;
	}

	.hero {
		margin-bottom: 0;
	}

	.title {
		font-size: 6.5rem;
	}

	.intro {
		font-size: 2.5rem;
		margin-top: 4rem;
	}

	.ScrollAnim {
		display: none;
	}
}

@media screen and (max-width: 920px) {
	.container {
		padding-bottom: 4rem;
	}

	.hero {
		flex-direction: column;
		/* margin-top: 8rem; */
		margin-inline: 2rem;
	}

	.title {
		font-size: 5rem;
		width: 50%;
	}

	.heroTxt {
		width: 100%;
		font-size: 2.5rem;
	}

	.heroImg {
		width: 50%;
		margin-inline: auto;
	}
}

@media screen and (max-width: 620px) {
	.container {
		padding-bottom: 4rem;
	}

	.hero {
		margin-top: 8rem;
	}

	.title {
		font-size: 3.5rem;
		width: 50%;
	}

	.ScrollAnim {
		display: none;
	}
}

@media screen and (max-width: 520px) {
	.hero {
		padding: 4rem;
		margin-inline: 0;
		margin-block: auto;
	}

	.ScrollAnim {
		display: inline-flex;
	}
}
