.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	position: fixed;
	z-index: 40;
}

.container {
	width: 100%;
	max-width: 165rem;
	margin-inline: auto;
	padding: 2rem 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	top: 0;
	position: relative;
	background-color: rgb(var(--background-rgb), 0.8);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	border-radius: 0.8rem;
}

.logo {
	display: flex;
	letter-spacing: -6px;
	text-transform: uppercase;
	margin-right: auto;
	font-size: 3rem;
}

.logo span {
	color: rgb(var(--primary-rgb));
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 3rem;
	font-weight: 400;
	letter-spacing: 2px;
	font-family: var(--default-font);
	font-size: 1.7rem;
}

.navLink {
	text-transform: capitalize;
	display: inline-flex;
	position: relative;
	transition: all ease-in-out 0.5s;
}

.navLink:active {
	color: rgb(var(--primary-rgb));
}

.navLink::after {
	content: '';
	display: inline-block;
	background-color: rgb(var(--primary-rgb), 0.85);
	position: absolute;
	z-index: 1;
	transition: all ease 0.5s;
	visibility: hidden;
	width: 0%;
	height: 2px;
	bottom: 0;
}

.active {
	color: rgb(var(--primary-rgb));
	background-color: transparent;
	cursor: pointer;
	text-transform: capitalize;
	border: 0;
	letter-spacing: 2px;
	font-size: 1.7rem;
}

.navToggle {
	display: none;
	font-size: 3rem;
	position: relative;
	cursor: pointer;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	.navLink:hover::after {
		visibility: visible;
		width: 100%;
	}

	.navLink:hover {
		color: rgb(var(--primary-rgb));
	}
}

@media screen and (max-width: 920px) {
	.navToggle {
		display: flex;
	}

	.navbar {
		background-color: rgba(4, 11, 18, 0.95);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		padding: 4rem 6rem 3rem 8rem;
		border-radius: 1rem;
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		right: 0;
		top: 6rem;
		z-index: -1;
		transform: translateY(-200%);
		transition: all ease-in-out 0.5s;
	}

	.mobileNav {
		transform: translateY(0);
		/* z-index: 38; */
	}
}
