@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200&display=swap');

:root {
	--font-mono: 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', sans-serif;

	/* --foreground-rgb: 0, 0, 0; */
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--background-rgb: 8, 19, 31;
	--primary-rgb: 250, 128, 114;
	/* --primary-rgb: 238, 3, 3; */
	--accent-rgb: 32, 16, 10;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-rgb: 0, 0, 0;
		/* --background-end-rgb: 0, 0, 0; */
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	color: rgb(var(--background-start-rgb));
	background-color: rgb(var(--background-rgb));
}

a {
	color: inherit;
	text-decoration: none;
}

body::-webkit-scrollbar {
	width: 0.5rem;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(var(--background-start-rgb));
	/* border-radius: 4rem; */
}

.primary-btn {
	color: rgb(var(--foreground-rgb));
	background-color: rgb(var(--primary-rgb));
	padding: 0.9rem 2rem;
	font-size: 1.4rem;
	border-radius: 0.2rem;
	width: fit-content;
	border: 0;
	outline: 0;
	text-transform: capitalize;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
